/* @import url(normalize.css); */
@import url(utilities.css);
@import url(cursor.css);
@import url(modal.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  text-wrap: pretty;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  overscroll-behavior: none;
  backface-visibility: hidden;
  text-rendering: optimizeLegibility;
}

.filter {
  position: absolute;
  top: 0;
}

.cover {
  /* visibility: hidden; */
  width: 100%;
  height: 100svh;
  text-align: center;

  flex-direction: column;

  position: absolute;
  z-index: 20;

  background-color: var(--sand);
}

.cover-info {
  font-family: var(--sans-serif);
  font-size: 1rem;
  font-weight: 300;
  /* background-color: red; */
}

.title {
  font-family: var(--sans-serif);
  font-weight: 700;
  color: var(--black);
  font-size: clamp(4rem, 10vw, 10rem);
  text-align: center;
  text-transform: uppercase;

  filter: url(#wavy);

  /* background-color: red; */
}

/* loader */
.loader {
  background: var(--turquoise);
  position: absolute;
  width: 100%;
  height: 2px;

  top: 50%;
  z-index: 25;
}

/* islands */
.island-item:hover {
  cursor: pointer;
}

.map-container {
  width: 100%;
  height: 100svh;
}

.img-container img {
  width: 100%;
  height: 100svh;
  object-fit: cover;
  object-position: center;
  /* filter: url(#erode); */
}

.islands-wrapper-map {
  width: 100%;
  height: 100svh;
  position: absolute;
  z-index: 30;
}

#map {
  width: 100%;
  height: auto;
  fill: var(--golden);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
