@import url(normalize.css);
@import url(utilities.css);
@import url(cursor.css);

*{
  text-wrap: pretty;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  overscroll-behavior: none;
}

.filter {
    position: absolute;
}

#islands-map-wrapper{
  width: 50%;
  height: 50%;
}

.cover {
    background-color: var(--sand);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* position: absolute; */
    z-index: 20;

    width: 100%;
    height: 100svh;
}

h1 {

    font-family: var(--sans-serif);
    font-weight: 700;
    color: var(--black);
    font-size: clamp(4rem, 2vw, 6rem);
    text-align: center;
    text-transform: uppercase;

    filter: url(#wavy);

    /* background-color: red; */
}


/* loader */
.loader {
  position: absolute;
  bottom: 30%;
  z-index: 15;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  transition: opacity 0.5s ease;
}

.progress {
  width: 0%;
  height: 100%;
  background: var(--black);
}

.progress-bar {
  width: 200px;
  height: 10px;
  background: var(--turquoise);
  /* border-radius: 10px; */
  overflow: hidden;
}

/* islands */
.island-item:hover{
    cursor: pointer;
}

#islands-map-wrapper{
    width: 100%;
    height: 100%;
}