body{
    background-color: #f3e7d0;
}
 
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
    filter: url(#wavy);
}

.container{
    width: 100%;
    height: 100svh;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover {
    /* background-color: red; */
    width: 100%;
    height: 100svh;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;

svg {
    width: 50%;
    height: 50%;
}
}