@import url("./fonts/fonts.css");

/* utilities */
:root {
  --sand: #f3e7d0;
  --golden: #d1b17b;
  --green: #585f12;
  --lightBlue: #c6e4ee;
  --turquoise: #80c9cf;
  --deepBlue: #4e9590;
  --grey: #6b7b8c;
  --black: #1e1e1e;


  --sans-serif: "quicksand", Arial, sans-serif;
  --serif: "garamond", "Times New Roman", Times, serif;
  --script: 'oceanside', monospace;
  --mono: 'sansation', monospace;

  --gradient: radial-gradient(var(--sand), var(--golden));
}