/* color fondo */
.map-bg {
  position: absolute;
  z-index: 1;

  width: 100%;
  height: 100svh;
  /* background-color: var(--darkBlue); */
  background: var(--water-gradient);
  filter: url(#ocean-texture);
  opacity: .9;

}

/* ruido textura */
.map-bg-container {
  position: relative;
  z-index: 15;

  width: 100%;
  height: 100svh;
  overflow: hidden;
  -webkit-filter: url(#noise);
  pointer-events: none;
}

/* cruces patrón */
.map-overlay {
  position: fixed;
  z-index: 5;
  transform-origin: center center;

  width: 200%;
  height: 200%;

  opacity: 1;
  /* background: radial-gradient(circle,
      transparent 20%,
      #e5e5f7 20%,
      #e5e5f7 80%,
      transparent 80%,
      transparent),
    radial-gradient(circle,
      transparent 20%,
      #e5e5f7 20%,
      #e5e5f7 80%,
      transparent 80%,
      transparent) 25px 25px,
    linear-gradient(#444cf7 2px, transparent 2px) 0 -1px,
    linear-gradient(90deg, #444cf7 2px, #e5e5f7 2px) -1px 0;

  background-size: 100px 100px, 50px 50px, 25px 25px, 25px 25px; */
  background-image: radial-gradient(white 1px, transparent 1px);
  background-size: 30px 30px;
}

/* wrapper map */
.islands-wrapper-map {
  /* background-color: blue; */

  width: 100%;
  height: 100svh;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: hidden;
  z-index: 10;
  /* border: 10px solid black; */
}

/* svg */
#map {
  touch-action: none;
  padding: 1rem;

  /* background-color: beige; */
  width: 100%;
  height: 100svh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  transform: scale(2);
  fill: var(--green);
  /* background-color: red; */

  filter: drop-shadow(0 0 5px var(--sand)) drop-shadow(0 0 10px var(--turquoise)) drop-shadow(0 0 15px var(--turquoise));
}

#map:active {
  cursor: grabbing;
}

.map-info {
  position: fixed;
  z-index: 20;
  top: 5%;
  font-family: var(--script);
  color: var(--black);
  font-size: 1.2rem;
  padding: 5px;
  text-align: center;
}

.shore {
  stroke: var(--lightBlue);
  stroke-width: 20px;
  filter: blur(1px);
  opacity: 1;
}

#island_1 {
  transform: translate(5px, -25px);
}

#island_2 {
  transform: translate(-5px, -20px);
}

#island_4 {
  transform: translate(20px, 10px);
}

#island_5 {
  transform: translate(20px, -30px);
}


#island_6 {
  transform: translate(5px, 15px);
}

#island_7 {
  transform: translate(20px, 0);
}