.label-water {
    fill: var(--black);
    stroke: none;
    text-transform: uppercase;
    font-weight: 300;
    font-family: var(--serif);
    letter-spacing: .2em;
    font-size: 1.5rem;

}

#w_1 {
    transform: translate(400px, 20px) rotate(10deg);
}

#w_2 {
    transform: translate(400px, 300px) rotate(-45deg);

}

#w_3 {
    transform: translate(200px, 450px);
}